# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.git/

# GoLand
.idea/

venv/

build/

scans/

.dockerignore

.gitignore

Dockerfile

LICENSE

Makefile

README.md

.env

config.toml